<h3>Accordion</h3>

<div class="collapsable">
    <div class="title" @onclick="@(()=>Collapsed1 = !Collapsed1)">
        @if (Collapsed1)
        {
            <span class="oi oi-chevron-right mr-1"></span>
        }
        else
        {
            <span class="oi oi-chevron-bottom mr-1"></span>
        }
        Настройки
    </div>
</div>
 
@if (!Collapsed1)
{
    <div class="collapsable-panel">
        Сортировать по убыванию
       <input type="checkbox" @onchange="(()=>orderBy=!orderBy)" />
    </div>
}
<div class="collapsable">
    <div class="title" @onclick="@(()=>Collapsed2 = !Collapsed2)">
        @if (Collapsed2)
        {
            <span class="oi oi-chevron-right mr-1"></span>
        }
        else
        {
            <span class="oi oi-chevron-bottom mr-1"></span>
        }
        Сообщения
    </div>
</div>
 
@if (!Collapsed2)
{
    <div class="collapsable-panel">
       <SoundComponent/>
    </div>
}
 
@code {
    public bool Collapsed1 { get; set; } = true;
    public bool Collapsed2 { get; set; } = false;

    bool orderBy = true;
}