@page "/"



<PageTitle>Index</PageTitle>
@if (messages != null)
{
    foreach(var message in messages)
    {
    
        <span>@message.MessagesId</span>  <span>@message.Name</span> <br/>
    }
}




@code{
    public List<Messages>? messages { get; set; }

    [Inject]
    public IMessagesClientServices? MessagesClientServices { get; set; }

    protected override async Task OnInitializedAsync()
    {
        messages = (await MessagesClientServices.GetAllMessagesAsync()).ToList();
    }
}